<html lang="en">

<%- include("../partials/head.ejs",{title: "Home"})%>


<body>
    <%- include("../partials/nav.ejs")%>

   

    <div class="blogs content">
        <h2>All Blogs</h2>
        <% blogs.forEach(blog => {%>
            <h3><%= blog.title %></h3>
            <p><%= blog.content %></p>
        <% })%>
    </div>
</body>

</html>